Flask==0.9
Jinja2==2.6
MarkupSafe==0.15
Werkzeug==0.8.3
pyinotify==0.9.2
pyparsing==1.5.2
pyserial==2.5
pysqlite==2.6.3
python-virtkey==0.60.0
pytz==2011k
pyusb==0.4.3
pyxdg==0.19
pyzmq==2.1.11
rdflib==2.4.2
simplejson==2.3.2
