{% extends "layout.html" %}
{% block main %}
<h2>About Sell Efficiently</h2>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
	  <img src="http://energy.gov/sites/prod/files/styles/article_hero/public/ultraefficient_20154.jpg" class="img-rounded">
	  <img src="http://www.slate.com/content/dam/slate/articles/technology/technology/2012/10/121002_TECH_nestEX.jpg.CROP.article250-medium.jpg" class="img-rounded">
    </div>
    <div class="span10">
      <!--Body content-->
	  <p class="lead">In an ideal world, we would have both.</p>
	  <h3>Energy efficient homes</h3>
	  <h3>And the means to control their usage.</h3>
    </div>
  </div>
</div>
<div class="container">
  <p class="lead">For most major household appliances, however, it is difficult to impact usage. You can run your washing machine on a cold water cycle to save energy, but its energy usage is primarily determined by the product's fundamental efficiency level. You can adjust the temperature of your refrigerator and freezer, but beyond that, there is no way to impact its usage.</p>  
  </div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
	<img src="http://images.lowes.com/product/converted/883049/883049151014.jpg" class="img-rounded">
	<img src="img/pie15.jpg" class="img-rounded">
	</div>
	<div class ="span10">
	<p class="lead">Six million refrigerators are sold every year in the United States.</p>
	<p class="lead">Refigerators account for 15% of residential electricity use.</p>
<p>filler text</p>
<p>more filler text.</p>
<h2>About this website</h2>
<p>This site was created with the <a href="http://flask.pocoo.org/"> Flask</a> web framework. The authors are grateful to the creators of the <a href="http://glyphicons.com/">Glyphicon</a> set and for the <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap CSS framework</a>.</p>
{% endblock %}
