{% extends "layout.html" %}
{% block main %}
<h2>Choose products to compare</h2>
<div class="hero-unit">
      <h2>Choose two products to compare.</h2>
      <p>Use the selectors to create the product profile you would like.</p>
      <form style="align: center" action="" method=post enctype=multipart/form-data>
</div>
<div class="row">
    <div class="span6">
        <h2>Product One</h2>
        <!--<form>-->
          Brand: <select>
            <option></option>
            {% for brand in brands %}
                <option>{{brand[0]}}</option>
            {% endfor %}
          </select>
          </br>
          Type: <select>
          {% for type in types %}
            <option>{{type[0]}}</option>
          {% endfor %}
          </select>
          </br>
          Size: <select name="size1">
          {% for size in sizes %}
            <option value="{{size[0]}}">{{size[0]}}</option>
          {% endfor %}
          </select>
          </br>
          Model: <select>
            <option>CRD--5939834</option>
            <option>CRD--417749</option>
            <option>CTX--2348AA</option>
            <option>CTC--3904UI4</option>
          </select>
        <!--</form>-->
    </div>
    <div class="span6">
        <h2>Product Two</h2>
        <!-- <form>--> <!-- already this is bad code repetition. fix it eventually. -->
          Brand: <select>
            <option>GE</option>
            <option>Frigidaire</option>
            <option>Samsung</option>
            <option>LG</option>
            <option>Whirlpool</option>
            <option>Igloo</option>
            <option>KitchenAid</option>
            <option>Bosch</option>
          </select>
          </br>
          Type: <select>
            <option>Top-Mount</option>
            <option>Bottom-Mount</option>
            <option>Side by Side Doors</option>
            <option>French Doors</option>
          </select>
          </br>
          Size: <select name="size2">
          {% for size in sizes %}
            <option value="{{size[0]}}">{{size[0]}}</option>
          {% endfor %}
          </select>
          </br>
          Model: <select>
            <option>CRD--5939834</option>
            <option>CRD--417749</option>
            <option>CTX--2348AA</option>
            <option>CTC--3904UI4</option>
          </select>
        <!--</form>-->
    </div>
</div>
<!--<form style="align: center" action="" method=post enctype=multipart/form-data>-->
  <input type=submit value="Get Results" class="btn btn-primary btn-large">
</form>
<div class="row">
</div> <!-- row -->
<div class="row" style="display:{{results_visibility}}">
  <div class="span6">
    <img src="{{pic_url_1}}", class="img-rounded">
    <h2>Product One</h2>
    {% if results1 != None %}
      <p><strong>Price:</strong> ${{results1[0][7] }}</p>
      <p><strong>Energy Usage:</strong> {{results1[0][6]}} kilowatt-hours per year</p>
      <p><strong>Description:</strong> {{results1[0][12]}}</p>
      <p><strong>Pitch:</strong> {{results1[0][8]}}</p>
    {% endif %}
  </div>
  <div class="span6">
    <img src="{{pic_url_2}}", class="img-rounded">
    <h2>Product Two</h2>
    {% if results2 != None %}
      <p><strong>Price:</strong> ${{results2[0][7] }}</p>
      <p><strong>Energy Usage:</strong> {{results2[0][6]}} kilowatt-hours per year</p>
      <p><strong>Description:</strong> {{results2[0][12]}}</p>
      <p><strong>Pitch:</strong> {{results2[0][8]}}</p>
    {% endif %}
  </div>
</div><!--row-->
<div style="display:{{results_visibility}}">
  <div class="hero-unit">
    <h2>Your Results:</h2>
    <p>Based on your utility rate, Product Two has a lower total cost of ownership over the lifetime of the product.</p>
    <p><strong>Net lifetime savings:</strong> $397</p>
    <p><strong>Payback period:</strong> 3 years</p>
  </div>
  <div id="chart_div" style="width: 900px; height: 500px;"></div>
</div>
{% endblock %}
