{% extends "layout.html" %}
{% block main %}
<h2>Team</h2>
<p>The developers of sell<strong>efficient</strong>.ly welcome your feedback.</p>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			<h3>Sustainable John</h3>
			<p>Team Leader</p>
			<a href="https://twitter.com/sustainablejohn">@sustainablejohn</a>
      <br>
			<img src="https://secure.gravatar.com/avatar/884d62ea001b80ce4b3a983c914d5525?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" class="img-rounded" style="width: 128px; height: 128px;">
		</div>
		<div class="span4">
			<h3>CO<sub>2</sub> Sturges</h3>
			<p>Lead Flasker</p>
			<a href="https://twitter.com/andrewsturges">@andrewsturges</a>
      <br>
			<img src="https://si0.twimg.com/profile_images/1310207630/IMG_0037.JPG" class="img-rounded" style="width: 128px; height: 128px;"></p>
		</div>
	</div>
</div>
<div class="container">
	<p class="lead">Follow us on twitter <a href="https://twitter.com/SellEfficiently">@SellEfficiently</a>
	<p class="lead">Thanks to our mentors on this project, <a href="https://twitter.com/TylerTringas">Tyler Tringas</a> and <a href="https://twitter.com/zbowling">Zac Bowling<a/></p>
</div>
{% endblock %}