<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/"><i class="icon-leaf"></i>Sell Efficiently</a>
        <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/choose_products">Get Started</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</div>
