{% extends "layout.html" %}
{% block main %}
<div class="hero-unit">
    <p><strong>Welcome to the Sell Efficiently.</strong> Filler text.</p>
    <p><a class="btn btn-success btn-large" href="/choose_products">Get Started &raquo;</a></p>
</div>

<div class="hero-unit">
  <h2>What kind of product would you like to compare?</h2>
  <p>Use the selectors to create the product profile you would like.</p>
  <form style="align: center" action="" method=post enctype=multipart/form-data>
    <select>
      <option>Refrigerators</option>
      <option>Clothes Washers</option>
      <option>Clothes Dryers</option>
      <option>Televisions</option>
      <option>Windows</option>
      <option>Set-Top Boxes</option>
    </select>
  </form>
</div>
<div class="row">
    <div class="span4">
        <h2>Step 1</h2>
        <p>John, what is step 1?</p>
    </div>
    <div class="span4">
        <h2>Step 2</h2>
        <p>Step filler.</p>
    </div>
    <div class="span4">
        <h2>Step 3</h2>
        <p>Step 3 filler.</p>
    </div>
</div>
{% endblock %}
