{% extends "layout.html" %}
{% block main %}
<div class="hero-unit">
    <p><strong>Welcome to the Sell Efficiently.</strong> Filler text.</p>
    <p><a class="btn btn-success btn-large" href="/get_started">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="span4">
        <h2>Step 1</h2>
        <p>John, what is step 1?</p>
    </div>
    <div class="span4">
        <h2>Step 2</h2>
        <p>Step filler.</p>
    </div>
    <div class="span4">
        <h2>Step 3</h2>
        <p>Step 3 filler.</p>
    </div>
</div>
{% endblock %}
