<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sell Efficiently -- {{title}}</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='override.css') }}" />
    <!-- Start of google chart code -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses'],
          ['2012',  1000,      400],
          ['2013',  1170,      460],
          ['2014',  660,       1120],
          ['2015',  1030,      540]
        ]);

        var options = {
          title: 'Company Performance',
          hAxis: {title: 'Year', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <!-- End of Google chart code. -->
</head>
<body class="container">
    <div id="content">
        {% block header %}
            {% include "header.html" %}
        {% endblock header %}
        {% block main %}
            <p>You are in the main block. This content from 'layout.html'. If you can read this paragraph, it has not been overwritten by a child template.</p>
        {% endblock main %}
    </div><!-- content -->
    <footer>
        {% block footer %}
            {% include "footer.html" %}
        {% endblock footer %}
    </footer>
</body>
</html>
