<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sell Efficiently -- {{title}}</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='override.css') }}" />
    <!-- Start of google chart code -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Product One', 'Product Two'],
          ['2012',  1087,      1153],
          [''	 ,  1173,      1207],
          ['2014',  1260,      1260],
          [''	 ,  1346,      1314],
		  ['2016',  1432,      1367],
		  [''	 ,  1519,      1420],
		  ['2018',  1606,      1474],
		  [''	 ,  1692,      1527],
		  ['2020',  1779,      1581],
		  [''	 ,  1866,      1634],
		  ['2022',  1952,      1687],
		  [''	 ,  2039,      1741],
		  ['2024',  2125,      1794],
		  [''	 ,  2212,      1848],
		  ['2026',  2299,      1901]
        ]);

        var options = {
          title: 'Comparison: Total Cost of Ownership',
          hAxis: {title: 'Year', titleTextStyle: {color: 'red'}}
		  legend.position: 'bottom'
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <!-- End of Google chart code. -->
</head>
<body class="container">
    <div id="content">
        {% block header %}
            {% include "header.html" %}
        {% endblock header %}
        {% block main %}
            <p>You are in the main block. This content from 'layout.html'. If you can read this paragraph, it has not been overwritten by a child template.</p>
        {% endblock main %}
    </div><!-- content -->
    <footer>
        {% block footer %}
            {% include "footer.html" %}
        {% endblock footer %}
    </footer>
</body>
</html>
